<!-- BEGIN SUBJECT -->
{DO_NOT_DELETE}Ihre Wartenlistenbuchung für das Pr&auml;senzseminar "{COURSE_TITLE}"
<!-- END SUBJECT -->
<!-- BEGIN BODY -->
{DO_NOT_DELETE}
<p>
Sehr geehrte/r {FIRST_NAME} {LAST_NAME},
</p><p>
hiermit best&auml;tigen wir Ihnen, dass Sie der Warteliste des Pr&auml;senzseminars "{COURSE_TITLE}" hinzugef&uuml;gt wurden.
</p><p>
Die Warteliste wird sieben Tage vor der Veranstaltung geschlossen und Sie werden per Email informiert, ob Ihnen ein freier Platz zugewiesen werden konnte.
</p><p>
Da die Teilnahme am Pr&auml;senzseminar die Bearbeitung der Selbstlernphasen 1 und 2 voraussetzt, empfehlen wir Ihnen dieses mindestens sieben Tage vor der Veranstaltung abgeschlossen zu haben. 
</p><p>
F&uuml;r R&uuml;ckfragen stehen wir Ihnen gerne zur Verf&uuml;gung. 
</p><p>
Mit freundlichen Gr&uuml;&szlig;en 
<!-- END BODY -->
