<!-- BEGIN SUBJECT -->
{DO_NOT_DELETE}Wir bestätigen Ihnen die Stornierung Ihres Teilnahmeplatzes im Pr&auml;senzseminar 
<!-- END SUBJECT -->
<!-- BEGIN BODY -->
{DO_NOT_DELETE}
<p>
Sehr geehrte/r {FIRST_NAME} {LAST_NAME},
</p><p>
hiermit best&auml;tigen wir Ihnen die Stornierung Ihres Teilnahmeplatzes im Pr&auml;senzseminar "{COURSE_TITLE}".
</p><p>
Sie erhalten diese Nachricht, weil Sie sich entweder selbst vom Pr&auml;senzseminar abgemeldet haben oder Ihre Abmeldung von einem Kursadministrator durchgef&uuml;hrt wurde. 
</p><p>
Eine gesonderte Einladung mit genauen Informationen zum Programmablauf und der Adresse des Veranstaltungsortes erhalten Sie sieben Tage vor der Veranstaltung.
</p><p>
F&uuml;r R&uuml;ckfragen stehen wir Ihnen gerne zur Verf&uuml;gung. 
</p><p>
Mit freundlichen Gr&uuml;&szlig;en 
<!-- END BODY -->
