<!-- BEGIN SUBJECT -->
{DO_NOT_DELETE}Sie wurden von der Warteliste des Pr&auml;senzseminars "{COURSE_TITLE}" entfernt
<!-- END SUBJECT -->
<!-- BEGIN BODY -->
{DO_NOT_DELETE}
<p>
Sehr geehrte/r {FIRST_NAME} {LAST_NAME},
</p><p>
Sie wurden von der Warteliste des Pr&auml;senzseminars "{COURSE_TITLE}" entfernt.
</p><p>
Sie erhalten diese Nachricht, weil Sie sich selbst von der Warteliste abgemeldet haben oder Ihre Abmeldung von einem Kursadministrator durchgef&uuml;hrt wurde. 
</p><p>
F&uuml;r R&uuml;ckfragen stehen wir Ihnen gerne zur Verf&uuml;gung. 
</p><p>
Mit freundlichen Gr&uuml;&szlig;en 
<!-- END BODY -->
