<!-- BEGIN SUBJECT -->
{DO_NOT_DELETE}Wir bestätigen Ihnen die Buchung Ihres Pr&auml;senzseminars "{COURSE_TITLE}"
<!-- END SUBJECT -->
<!-- BEGIN BODY -->
{DO_NOT_DELETE}
<p>
Sehr geehrte/r {FIRST_NAME} {LAST_NAME},
</p><p>
hiermit best&auml;tigen wir Ihnen die Buchung Ihres Pr&auml;senzseminars "{COURSE_TITLE}".
</p><p>
</p><p>
Eine gesonderte Einladung mit genauen Informationen zum Programmablauf und der Adresse des Veranstaltungsortes erhalten Sie sieben Tage vor der Veranstaltung.
</p><p>
F&uuml;r R&uuml;ckfragen stehen wir Ihnen gerne zur Verf&uuml;gung. 
</p><p>
Mit freundlichen Gr&uuml;&szlig;en 
<!-- END BODY -->
